$main-font: 'Reenie Beanie', cursive;
$main-font-color: white;
$second-font: 'Pangolin', cursive;
footer {
    background-color: black;
    font-family: $main-font;
    color: $main-font-color;
    h3 {
        font-size: 2rem;
    }
    input {
        margin-right: .5rem;
        @media(min-width: 992px){
            margin-right: 1rem !important;
        }
    }
    .email {
        border-radius: 2rem;
        border: none;
        width: 15rem;
        height: 3rem;
        padding: .5rem 2rem;
        font-size: 1.5rem;
    }
    .submit {
        margin-top: 1rem;
        font-size: 1.5rem;
        border-radius: 2rem;
        border: none;
        background-color: white;
        color: black;
        padding: .2rem 1rem;
    }
    .social-container {
        padding: 2rem 5rem !important;
        @media(min-width: 576px) {
            padding: 2rem 15rem !important;
        }
        @media(min-width: 992px) {
            padding: 2rem 25rem !important;
        }
        a {
            :hover {
                color: blueviolet;
            }
        }
    }
}