@import 'footer';

$main-font: 'Reenie Beanie',
cursive;
$main-font-color: white;
$second-font    : 'Pangolin',
cursive;

body {
  margin: 0;
}

.icon-black {
  color: black
}

/*NAVBAR*/
.navbar {
  background-color: black !important;
  padding         : 1rem 2rem !important;

  .navbar-brand {
    font-family    : $main-font;
    color          : $main-font-color;
    font-size      : 2.5rem !important;
    text-decoration: none !important;

    a {
      text-decoration: none;
      color          : gold !important;

    }

  }

  .nav-link {
    font-family    : $second-font;
    color          : $main-font-color;
    font-size      : 1.3rem !important;
    padding        : 0rem 2rem !important;
    text-decoration: none !important;

    :hover {
      color           : gold !important;
      background-color: black !important;
      border-radius   : 1rem;
      text-decoration : none;

    }
  }

  link {
    color          : white !important;
    text-decoration: none;
  }

  a {
    color          : white !important;
    text-decoration: none;
  }


}

.counter-container {
  border-radius: 2rem;
  padding      : .5rem 1rem !important;
  width        : 10rem;
  margin       : 0 auto;

  button {
    font-weight: bold;
    font-size  : 1.5rem;
    padding    : 0rem !important;
  }

  .count {
    margin-bottom: 0 !important;
    font-weight  : lighter;
    font-size    : 1rem;
    font-family  : $second-font;
  }
}


/*SHOP CARDS*/
.shop-container {
  h3 {
    font-family: $main-font;
    font-size  : 4rem;
  }

  a {
    color: white !important;
  }

  .card {
    width      : 300px !important;
    max-width  : 300px !important;
    font-family: $main-font;
    font-size  : 2rem !important;
    border     : none !important;

    @media(min-width:576px) {
      margin: 1rem;
    }

    @media(min-width:992px) {
      margin: 1rem 2rem;
    }

    img {
      width    : 100% !important;
      max-width: 100% !important;
    }

    .btn {
      background-color: black;
      font-size       : 1.5rem;
    }

  }

}

/* INDIVIDUAL CARDS*/
.card {
  width    : 300px !important;
  max-width: 300px !important;
  border   : none !important;

  @media(min-width:576px) {
    width    : 450px !important;
    max-width: 450px !important;
  }

  .card-title {
    font-family: $main-font;
    font-size  : 2rem;
  }

  .Add-button {
    background-color: black;
    border          : none;
    color           : white;
    font-family     : $main-font;
    font-size       : 1.5rem;
    padding         : .5rem 2rem;
  }

  .card-text {
    font-family: $main-font;
    font-size  : 3rem !important;
  }

  h6 {
    font-family: $second-font;
  }
}

/*HOME*/
.home_container {
  background-image   : url(../Img/main-background.jpg);
  background-size    : cover;
  background-position: center center;
  padding            : 10rem;
  color              : $main-font-color;
  font-family        : $main-font;

  @media (min-width: 992px) {
    padding: 15rem;
  }

  h2 {
    font-size: 2rem;

    @media (min-width: 992px) {
      font-size: 3rem;
    }
  }
}

/*BRANDS */
.brands_container {
  h3 {
    font-family: $main-font;
    color      : black;
    font-size  : 3rem;
    margin     : 0 auto;
  }

  .brand {
    width: 200px;
  }
}

/* NEW MODELS */
.new_models {
  background-image   : url(../Img/newmodels.jpg);
  background-position: center center;
  background-size    : cover;
  background-repeat  : no-repeat;
  padding            : 8rem;
  font-family        : $main-font;
  color              : $main-font-color;
  font-size          : 3rem;
  color              : black;
  font-weight        : bolder;
  text-decoration    : none;

  span {
    a {
      background-color: transparent !important;
      color           : gold;
      text-decoration : none;

      :hover {
        color: blue !important;
      }
    }
  }

  h2 {
    font-size  : 3rem;
    font-weight: bolder;
  }

  button {
    font-family     : $main-font;
    color           : $main-font-color;
    font-size       : 1.5rem;
    padding         : .5rem 3rem;
    background-color: transparent;
    border          : none;
    color           : red;

    link {
      color: gold;
    }

    a {
      color          : gold;
      text-decoration: none;
    }
  }
}

/* CART */
.cart_container {
  padding: 0;

  h3 {
    font-family: $main-font;
    font-size  : 4rem;
  }

  .itemTitle {
    font-family: $second-font;
    font-size  : 1.3rem;
  }

  .badge {
    background-color: black;
    color           : white;
  }

  h4 {
    font-size: 1rem;
  }

  button {
    background-color: blueviolet;
    color           : black;
    font-size       : .7rem;
    font-family     : $second-font;
    border          : none;

    @media(min-width: 756px) {
      font-size: 1rem;
    }
  }
}

.empty_cart-container {
  padding: 5rem 3rem !important;

  @media(min-width: 576px) {
    padding: 10rem !important;
  }

  @media(min-width: 992px) {
    padding: 4rem 10rem 4rem !important;
  }

  h3 {
    font-family: $second-font;
    font-size  : 2rem;
  }

  a {
    color          : black;
    font-family    : $second-font;
    font-weight    : bold;
    text-decoration: underline !important;
  }
}

.checkout_container {
  form {
    font-family: $second-font;

    input {
      margin   : 0 auto;
      max-width: 500px;
    }
  }

  button {
    font-family     : $main-font;
    font-size       : 1.9rem;
    border          : 2px solid black;
    background-color: blueviolet;
  }

  h4 {
    font-family: $second-font;
  }

  h5 {
    font-family: $second-font;
  }
}

.order_container {
  font-family: $second-font;

  button {
    font-family     : $main-font;
    font-size       : 1.5rem;
    background-color: black;
    color           : white;
    border          : none;
    padding         : .5rem 1rem;
    margin-top      : 1rem;
  }

  h3 {
    span {
      background-color: blueviolet;
    }
  }
}